[Unit]
Description=flanneld network
After=network.target

[Service]
User=root
Group=root
#Environment=
#Environment=
WorkingDirectory=/opt/k8s
ExecStart=/opt/k8s/kube-proxy --master http://192.168.1.165:8080 --cluster-cidr 172.17.17.0/24
