[Unit]
Description=flanneld network
After=network.target

[Service]
User=root
Group=root
#Environment=
#Environment=
WorkingDirectory=/srv/k8s
ExecStart=/usr/bin/kubectl proxy --accept-hosts="^192.168.1" --address=192.168.1.165

[Install]
WantedBy=multi-user.target
Alias=kube-proxy
